* {
    margin: 0px;
    padding: 0px;
}

/*---------------header--------------*/
.nav-container {
    background: rgba(229, 84, 115, 0.10);
    height: 100vh;
    background-position: center;
    background-image: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-description {
    margin: 197px 123px 365px 240px;

}

.nav-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    padding-top: 150px;

}

.nav-para {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: left;
}

.btn {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    padding: 20px 43px 20px 43px;
    border-radius: 8px;
    background: #E55473;


}

.btn .btn-primary {
    margin-block-start: 0%;
}



.nav-photo {

    width: 635px;
    height: 800px;
    height: 100vh;



}

/*--------------main-------------*/

.Featured {

    justify-content: center;

}

.title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 80px;
}

.para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;


}

.Featured-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 316px;
    margin-right: 316px;
    gap: 24px;
}

.Featured-photo .p1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 200px;
    height: 300px;



}

.Featured-photo .p2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 200px;
    height: 300px;

}

.Featured-photo .p3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 200px;
    height: 300px;

}

.p1 {
    padding: 110px 78px 0px 76px;


}

.p2 {
    padding: 110px 78px 0px 76px;

}

.p3 {
    padding: 110px 78px 0px 76px;

}

.flower-name {
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    color: #272727;
    text-decoration-line: underline;
    margin-top: 32px;
    margin-bottom: 100px;
}

.sale-container {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-left: 200px;

    height: 40%;


}

/*.sale-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    padding-bottom: 10px;

}

sale-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 22px;


}*/

.primary {
    color: #E55473;
}

.sale-photo {
    padding: 80px;
    margin-right: 20%;
}

.login-container {

    background: #FFF;
}

.login-photo {

    display: flex;
    width: 342px;
    height: 396px;
    margin-left: 120px;
    margin-right: 200px;
    column-gap: 24px;

}

.deal {
    background-image: url("./Flower Asset/Rectangle 9.png");
    height: 400px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;



}

.title-primary {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 80px;
    padding-top: 100px;
}

.text-deal {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 50px;
    row-gap: 16px;
    margin-left: 400px;
    padding: 5px;

}

/*---------------footer---------*/
.title-flower-shop {
    color: #E55473;


}




.para-footer {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px;

}

.footer-container {
    text-align: center;
    background: #111010;
    color: rgba(255, 255, 255, 0.40);
    width: 100%;
    height: 150px;
    padding-top: 5px;
    padding-bottom: 200px;


}

.title-footer {
    color: #FFFFFF;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-top: 80px;

}